
{% extends 'base.html.twig' %}

{% block body %}
    {% include('inc/nav.html.twig') %}
    <h1>C'est partit pour le projet</h1>

    <p>php bin/console doctrine:database:create</p>
    <p>pour créer la base de donnée</p>
{% endblock %}