{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{%  block body %}



    <div>
        {{ form_start(sortieForm) }}


        {{ form_widget(sortieForm) }}


        <button>Enregistrer</button>
        <button>Publier la sortie</button>
        <button>Annuler</button>

        {{ form_end(sortieForm) }}
    </div>





{% endblock %}